version: 0.1.{build}

environment:
  matrix:
    - COMPILER: mingw
      PLATFORM: Win32
      MINGW_PATH: C:\MinGW\bin

    - COMPILER: mingw-w64
      PLATFORM: x64
      MINGW_PATH: C:\mingw-w64\x86_64-7.3.0-posix-seh-rt_v5-rev0\mingw64\bin

install:
  #- if "%COMPILER%"=="mingw" set PATH=C:\MinGW\bin;%PATH%
  #- if "%COMPILER%"=="mingw-w64" set PATH=C:\MinGW\bin;%PATH%
  - set PATH=%MINGW_PATH%;%PATH%
  - git --version
  - git clone --depth=1 https://github.com/kroggen/lmdb
  - cd lmdb\libraries\liblmdb
  - if "%COMPILER%"=="mingw" powershell -Command "(Get-Content mdb.c) -replace '\/\* We use native NT APIs','typedef LONG NTSTATUS; /* We use native NT APIs' | Set-Content mdb.c"
  - mingw32-make
  - dir
  - copy mtest.c ..\..\..
  - copy lmdb.dll ..\..\..
  - cd ..\..\..

build_script:
  - mingw32-make
  - gcc mtest.c -o mtest.exe -Ilmdb\libraries\liblmdb -Llmdb\libraries\liblmdb -llmdb
  - dir

test_script:
  - main
  - mkdir testdb
  - mtest
